* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", "Helvetica", "sans-serif";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    width: 97vw;
    height: auto;
    justify-content: space-around;
}

h1 {
    display: flex; 
    align-items: center;
    font-size:60px;
    letter-spacing: 5px;
}

#game-board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 520px;
}

.word-display {
    display: flex;
    flex-direction: column;
}

.display-row {
    display: flex;   
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEDEDE;
    border: 2px solid #000000;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.325);
    width: 40px;
    height: 40px;
    margin: 3px;
    font-size: 25px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEDEDE;
    border: 2px solid #000000;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.325);
    width: 40px;
    height: 40px;
    margin: 3px;
    font-size: 25px;
}

.example-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEDEDE;
    border: 2px solid #000000;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.325);
    width: 40px;
    height: 40px;
    margin: 3px;
    font-size: 25px;
}

.example-row {
    display: flex;
    margin-top: -15px;
}

.keyboard {
    height: 160px;
}

.key-row {
    display: flex;
    justify-content: center;
}

#delete {
    width: 90px;
}

#enter {
    width: 90px;
}

button {
    display: flex;
    font-size: 25px;
    background-color: #DEDEDE;
    border: 2px solid #000000;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.325);
    font-weight: bold;
}

#instructions {
    display: flex;
    flex-flow: column wrap;
    width: 400px;
}

.gray-e {
    color: #ffffff;
    background-color: #616060;
}

.yellow-b {
    color: #ffffff;
    background-color: #daa520;
}

.green-b {
    color: #ffff;
    background-color: #079855;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

@media only screen and (max-width: 900px) {
    body {
        display: flex;
        /* background-color: red; */
    } 

    main {
        flex-flow: row wrap;
     }    

     #game-board {
        height: 550px;
     }

     #instructions {
        /* border: 3px solid tomato; */
        display: flex;
        align-items: center;
        font-size: 22px;
        letter-spacing: 1px;
        text-align: center;
    }
}


@media only screen and (max-width: 520px) {
    body {
        display: flex;
        /* background-color: aqua; */
    }
    
    main {
        /* border: 3px solid black; */
        height: 100%;
    } 

    h1 {
        border: 3px solid goldenrod;
        font-size: 50px;
        margin: 0;
    }

    #message {
        /* border: 3px solid gold; */
        font-size: 35px;
        text-align: center;
        margin: 10px 0;
    }

    #game-board {
        /* border: 3px solid red; */
        height: 550px;
        display: flex;
        gap: 15px;
    }

    .tile {
        width: 45px;
        height: 45px;
        font-size: 25px;
        margin: 2px;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.466);
    }

    .key {
        /* display: flex; */
        /* border: 3px solid purple; */
        width: 25px;
        height: 45px;
        font-size: 20px;
        border-radius: 5px;
    }

    #delete {
        font-size: 20px;
        width: 65px;
    }

    #enter {
        font-size: 20px;
        width: 65px;
    }

    h2 {
        font-size: 35px;
        margin: 22px 0 0;
    } 
    p {
        margin: 15px 0;
    }
}